.container{
  
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 3px;
  /* padding: 3px; */
  /* max-width: 1050px; */
  position: relative;
  
}
section{
border-radius: 7px ;
}