@font-face {
  font-family: Vazir-Medium;
  src: url('/public/font/Vazir-Medium.ttf');
}
*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #bcbcbd;
  position: relative;
  font-family: Vazir-Medium;
  

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;

  overflow: hidden;

color: transparent;
}
